.App {
  text-align: center;
  padding: 0 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 17, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 17, 255, 0.3);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 17, 255, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 17, 255, 0.274);
}

ul {
  list-style: none;

  li {
    margin-right: 12px;
  }

}

.restaurant-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.restaurant-list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.restaurant-item {
  flex: 0 0 auto;
  width: 300px;
  cursor: pointer;
}

.restaurant-card {
  background: #fff;
  padding: 15px;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.restaurant-card:hover {
  transform: scale(1.05);
}

.restaurant-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.favorite-button {
  text-align: end;
}

.heart-icon {
  color: blue;
  font-size: 1.5rem;
}


/* CARDS */
.MuiPaper-root.MuiCard-root {
  width: 30dvw;
  border: 2px solid blue;
  border-radius: 10px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid blue;
    border-radius: 50px;
  }
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .MuiPaper-root.MuiCard-root {
    width: 100% !important;
  }

  .restaurant-item {
    width: 100% !important;
  }
}

@media (max-width: 820px) {
  .MuiPaper-root.MuiCard-root {
    width: 50dvw;
  }

  .restaurant-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
  }

  .restaurant-list {
    display: block;
    white-space: normal;
  }

  .restaurant-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .restaurant-card {
    width: calc(100%-padding);
  }
}

/* USEFUL CLASSES */

.align-center {
  display: flex;
  justify-content: center;
}